html {
  background-color: #032a5f;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #032a5f;
  margin: 0px
}

/* @media screen and (min-width: 600px) {
  body {
  }
} */

h3 {
  color: white;
}

a {
  color: #00B7FF;
}
